{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <b>Do you want to reset the password?</b>
        <br/>
        {% if validlink %}
            <label>New password</label>
            <input name="new_password1" class="form-control" type="password">
            <label>Confirm password</label>
            <input name="new_password2" class="form-control" type="password">
            <button type="submit" class="btn btn-success"> Save password</button>
            {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
            {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
        {% else %}
            <p>Invalid link</p>
        {% endif %}
    </form>
{% endblock %}
